변수 a에 1, b에 2 넣고
두 변수의 합을 구하시오

In [3]:
a=1
b=2
print("a+b= ",a+b)

a+b=  3

(슬라이싱으로 문자열 나누기)
주민등록번호에서 생년월일을 추출하시오

In [10]:
#문자열은 slice 함수는 없고 index 통해 [:]로 바로 slice 기능을 제공한다.
num = '951111-2000000'
num[0:6]
#num[:6], num[0:-8]과도 같다. -하면 뒤에서 부터 인덱스 계산한다.

'951111'

변수에는 '20010331Rainy'가 있다. 날짜는 date변수에, 기온은 weather에 나누어 넣으시오

In [16]:
a='20010331Rainy'
date=a[:8]
weather=a[8:]
print(date); print(weather)

20010331
Rainy

변수 a에는 20010331Rainy가 있다. year = 2001 day=0331로 나누시오

In [17]:
a='20010331Rainy'
year=a[:4]
day=a[4:8]
print(year); print(day)

2001
0331

변수 a에는 Pithon이 있다. Python으로 바꾸시오

In [21]:
a='Pithon'
#문자열의 경우 변경할수 없기때문에 a[1] = 'y' 이런식으로 변경할수없다.
a= a[0]+'y'+a[2:]
a

'Python'

[1,2,['a','b',['Life','is']]] 값을 갖는 리스트 a를 생성하시오
a에서 'Life' 값을 추출하시오

In [25]:
a=[1,2,['a','b',['Life','is']]] 
len(a)

3

In [27]:
a[0]

1

In [28]:
a[1]

2

In [29]:
a[2]

['a', 'b', ['Life', 'is']]

In [30]:
a[2][0]

'a'

In [31]:
a[2][2]

['Life', 'is']

In [32]:
a[2][2][0]

'Life'