#set 생성
1. 변수명={요소1,요소2,요소3...}
2. 순서가 없다.
3. 변경도 할 수 없다. (=튜플)
4. 중복을 허용하지 않는다.

In [8]:
a={1,2,3,4,5,3,4}
a;
type(a)#중복값은 버린걸 확인가능

set

In [2]:
a1=[1,1,2,2,3,3,4,5,6,7,8]

In [3]:
set(a1) #set이 자동으로 중복없애줌

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
list(set(a1)) #데이터 정제후 다시 list에 넣기도 가능

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
#set함수는 index 접근이 불가 (subscriptable)
a[1]

TypeError: 'set' object is not subscriptable

In [10]:
#set에 여러 자료형을 넣을 수 있고, 혼용도 가능(중복은 x)
set1 = {"a","b","c","d","a"}
set2 = {1,2,3,4,2}
set3 ={False,True,True}
print(set1)
print(set2)
print(set3)

{'c', 'b', 'a', 'd'}
{1, 2, 3, 4}
{False, True}

In [11]:
set4={1,0,True,False}
set4 #1이랑 true, 0이랑 false 중복처리하는듯.

{0, 1}

In [12]:
set4.add("f") #추가
set4

{0, 1, 'f'}

In [13]:
set4.clear() #요소 다 비움
set4

set()

In [14]:
x= set1.copy() #복사도 가능
x

{'a', 'b', 'c', 'd'}

In [15]:
x= {1,2,3}
y={2,3,4}
x.difference(y) #x에는 있고 y와는 중복되지 않는 요소를 찾아줌

{1}

In [16]:
y.difference(x)

{4}

In [17]:
x.difference_update(y) # y와 다른 값만 x에넣어버림

In [18]:
x

{1}

In [30]:
x= {1,2,3}
y={2,3,4}
x.intersection(y) #공통으로 있는 값출력

{2, 3}

In [31]:
#set이 아닌 list일 경우 같은 값 찾으려면 아래와 같이
x1=[1,2,3]
y1=[2,3,4]
dup=[]
for i in x1:
    for j in y1:
        if i==j:
            dup.append(i)
print(dup)

[2, 3]

In [32]:
#위와 같은 결과 똑같이 얻는 다른방법
x1=[1,2,3]
y1=[2,3,4]
dup=[]
for i in x1:
    if i in y1:
            dup.append(i)
print(dup)

[2, 3]

In [33]:
#이렇게 set으로 구하는게 for문 보다 훨씬 빠름
z=set(x1).intersection(set(y1))
z

{2, 3}

In [36]:
x={1,2,3}
y={4,5,6}
x.isdisjoint(y) #중복이 되지 않으면 true로 반환 (하나라도 있으면 false)

True

In [37]:
x={1,2,3}
y={4,5,3}
x.isdisjoint(y)

False

In [38]:
x={1,2,3}
y={1,2,3,4,5}
x.issubset(y) #앞의 값을 확실하게 뒤가 가지고 있으면 true가 나옴

True

In [39]:
x={1,2,3}
y={1,2,3,4,5}
y.issuperset(x) #y가 x를 포함하는지 ? 맞으면 true

True

In [40]:
x={1,2,3}
y={1,2,3,4,5}
x.union(y) #합집합

{1, 2, 3, 4, 5}