In [1]:
txt="banana"
txt.center(20) #총 20자 ,가운데 정렬

'       banana       '

In [2]:
"banana".center(20) #위의 결과와 같은결과

'       banana       '

In [3]:
"banana".center(20,"_") #빈 곳을 _로 채워줌

'_______banana_______'

In [4]:
txt="I love apples, apple are my favorite fruit."
txt.count("apple") #apple의 개수 반환

2

In [5]:
txt="I love apples, apple are my favorite fruit."
x=txt.count("apple",10,24) #10부터 24사이의 apple을 찾아 반환

In [6]:
txt = "My name is Ståle"
txt.encode() #2byte로 encoding

b'My name is St\xc3\xa5le'

In [11]:
txt="안녕하세여"
txt.encode().decode() #2byte로 encoding 됐다가 다시 decoding

'안녕하세여'

In [14]:
txt="Hello, welcome to my world."
txt.endswith(".") #문장이 .로 끝나는지 확인 -> t/f로 반환

True

In [15]:
txt="Hello, welcome to my world."
txt.endswith("my world.")

True

In [18]:
txt="Hello, welcome to my world."
txt.find("welcome") #해당 문자열이 있는 index 알려줌

7

In [19]:
txt.find("q") #error -> -1로 반환
#cf. txt.index("q") ->없을경우 error로 아무값도 반환해주지않음

-1

In [21]:
if(txt.find("q")==-1):
    print("해당 문자열이 없습니다.")
else:
    print("해당 문자열을 찾았습니다.")

해당문자열이 없습니다.

In [23]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt1

"My name is John, I'm 36"

In [24]:
"My name is {}, I'm {}".format("John",36) #도 가능

"My name isJohn, I'm 36"

In [26]:
"My name is {1}, I'm {0}".format("John",36) #순서를 줄수도있음 (0,1...)

"My name is 36, I'm John"

In [27]:
"My name is {fname}, I'm {age}".format(age = 36,fname = "John") #로 해도 변수명을 찾아 들어감

"My name is John, I'm 36"

In [28]:
txt = "For only {price:.2f} dollars!" #2f 자리에 d를 주면 정수형으로 표현됨
print(txt.format(price = 49))

For only 49.00 dollars!

In [29]:
a=["a","b","c"]
",".join(a) #하나의 문자열로 만든다.

'a,b,c'

In [31]:
a="c:/hrim/fruit3.csv"
a.split("/")[-1]  #파일명만 알고 싶을때 (split의 반환형은 리스트)

'fruit3.csv'

In [33]:
a="정부 10년간 초소형 공공위성 100기 이상 구축 기사입력 2021.06.18. 오전 10:34"
a.split("기사입력") #기사입력을 기준으로 앞뒤를 잘라줌

['정부 10년간 초소형 공공위성 100기 이상 구축 ', ' 2021.06.18. 오전 10:34']

In [34]:
a.split("기사입력")[0]

'정부 10년간 초소형 공공위성 100기 이상 구축 '

In [36]:
a.split("기사입력")[0].split(" ") # 스페이스바를 기준으로 split도 가능

['정부', '10년간', '초소형', '공공위성', '100기', '이상', '구축', '']

In [40]:
a.split("기사입력")[0].split(" ")[1].split("10") 
#split한 반환결과가 뭔지 항상 확인
#split은 문자열에서만 가능하다는 것을 기억.

['', '년간']

In [41]:
a= """
정부 10년간 초소형 공공위성 100기 이상
구축 기사입력 2021.06.18. 오전 10:34
""" # """"""를 쓰면여러줄로 입력가능
a

'\n정부 10년간 초소형 공공위성 100기 이상\n구축 기사입력 2021.06.18. 오전 10:34\n'

In [42]:
a='     python is easy   '
a.strip() #공백문자 없앰(문자열의 양쪽끝을 잘라냄)

'python is easy'

In [43]:
a='python is easy'
a.replace('python','java') #앞의 문자열을 뒤의 문자열로 바꾼다.

'java is easy'

In [46]:
a="python"
str1 = "py"
str2 = "ja"
string = a.maketrans(str1,str2) #바꿔야할 mapping table을 가짐 => string에 넣어 변환규칙 기억
print(a.translate(string))  #translate할건데 변환룰은 string이다는 뜻
#replace와 기능 거의 비슷하나 바꾸기 전/후의 문자열 길이가 같아야함.

jathon

In [ ]:
#partition의 경우 split과 비슷하나 결과가 튜플로 나옴