### [ 파이썬과 MariaDB 연동 ] 
pymysql 설치

In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

#### DB 연결

In [3]:
import pymysql 

# DB 연결 
conn = pymysql.connect (host="127.0.0.1", user="root", password="kpc1212" , db="kpc" , charset="utf8")
cur =conn.cursor()

###### SQL 실행

In [4]:
sql1 ="create table user (id varchar(100) primary key, name varchar(100), password varchar(100) ) DEFAULT CHARSET=utf8 "

In [5]:
cur.execute( sql1 )

0

In [6]:
insert_sql1 = "insert into user values ('hong','홍길동','1234')" ;
cur.execute( insert_sql1 )

1

In [7]:
insert_sql2 = "insert into user values ('lee','이길동','1234')" ;
cur.execute( insert_sql2 )

1

In [8]:
insert_sql3 = "insert into user values ('kim','김길동','1234')" ;
cur.execute( insert_sql3 )

1

##### 커밋

In [9]:
conn.commit()

#### select

In [10]:
select_sql = "select * from user " 
cur.execute(select_sql )

3

In [11]:
while(True) :
    row = cur.fetchone()
    if row==None :
        break; 
    print(row[0], row[1], row[2])

hong 홍길동 1234
kim 김길동 1234
lee 이길동 1234

#### 회원가입
- 이름, 아이디, 패스워드 입력받은 후 DB 저장 실습

In [19]:
name = input("이름을 입력하세요: ")
id = input("사용자 id을 입력하세요: ")
pw = input("비밀번호를 입력하세요: ")
insert_sql = "insert into user values ('{0}','{1}','{2}' )".format(id,name,pw) ;
cur.execute( insert_sql ) #몇개나 insert에 성공했는지에 대한 정보 - 1이면 insert 성공

이름을 입력하세요: 김영희
사용자 id을 입력하세요: kim1234
비밀번호를 입력하세요: 1234

1

In [20]:
conn.commit()

In [21]:
#### 회원검색
name = input("검색할 회원 이름을 입력하세요: ")
select_sql="select * from user where name='{0}'".format(name)
print(select_sql)
result = cur.execute(select_sql) #몇건이나 select 했는지
while(True):
    row = cur.fetchone()
    if row==None :
        break; 
    print(row[0], row[1], row[2])

검색할 회원 이름을 입력하세요: 김영희
select * from user where name='김영희'
kim1234 김영희 1234