In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

#  엑셀 파일 읽기 
tmp = pd.read_excel("지역_위치별(주유소).xls" )
 
data = tmp.dropna(how='any') # 결측치가 있는 행이 모두 삭제됨.

In [ ]:
price_data =data[ ["휘발유","경유" ] ]
price_label =data[ ["고급휘발유"] ]
from sklearn import svm, metrics
train_data, test_data, train_label,test_label  = \
  train_test_split(price_data, price_label )
  
model = LinearRegression()

model.fit(train_data, train_label )  # 힉습 

pre = model.predict(test_data)     # 예측

#ac_score = metrics.accuracy_score(test_label, pre) # 분류 성능평가이고... 회귀문제에서는 사용안함.
print(model.score( test_data,  test_label  ) )      # 회귀 성능 평가.

0.9132509657002001

In [ ]:
import pandas as pd
tmp = pd.read_excel("지역_위치별(주유소).xls" )

#"고급휘발유"열에 결측치가 존재하는 행만 꺼내기
data = tmp [ tmp["고급휘발유"].isnull() ]
#print(data.head())

#"고급휘발유"열에 결측치가 존재하는 행만 꺼내기
data = tmp.loc[tmp.고급휘발유.isnull()  ] 
#print(data.head())

import pandas as pd
tmp = pd.read_excel("지역_위치별(주유소).xls" )

#"고급휘발유"열에 결측치가 존재하는 행만 꺼내기
data = tmp.loc[tmp.고급휘발유.isnull(), ("고급휘발유","휘발유","경유") ] 
print(data.head())

    고급휘발유   휘발유    경유
0     NaN  1548  1345
3     NaN  1568  1365
5     NaN  1590  1390
6     NaN  1595  1380
12    NaN  1608  1397

In [ ]:
data["고급휘발유"] = model.predict(data.loc[ : ,("휘발유","경유")])
data

           고급휘발유   휘발유    경유
0    1787.675004  1548  1345
3    1806.738708  1568  1365
5    1828.426088  1590  1390
6    1829.605493  1595  1380
12   1842.953307  1608  1397
..           ...   ...   ...
436  1909.883172  1688  1438
438  1959.965649  1728  1528
468  1842.953307  1608  1397
475  1909.883172  1688  1438
477  1959.965649  1728  1528

[98 rows x 3 columns]