In [2]:
my_key = "0C6iX2Ww%2BnB9GVY6k9Et5H9zqv%2FxjEsldVq1Wa9Co3lvcuaRi%2BI3gcoFoi3AckHg6B8AAf1cH0tKH4MXhYf57A%3D%3D"

In [10]:
end_point = "http://openapi.tour.go.kr/openapi/service/"
op_url = "EdrcntTourismStatsService/getEdrcntTourismStatsList?"
param_key = "&serviceKey=" + my_key

In [11]:
op_url = "EdrcntTourismStatsService/getEdrcntTourismStatsList?"

In [21]:
ym = "202002" ; nat_cd = "112" ; ed_cd = "E"
param_ym = "&YM=" + ym
param_nat_cd = "&NAT_CD=" + nat_cd
param_ed_cd = "&ED_CD=" + ed_cd
param_key = "&serviceKey=" + my_key

In [33]:
url = end_point + op_url + param_key + param_ym + param_nat_cd + param_ed_cd
print(url)

http://openapi.tour.go.kr/openapi/service/EdrcntTourismStatsService/getEdrcntTourismStatsList?_type=json&serviceKey=0C6iX2Ww%2BnB9GVY6k9Et5H9zqv%2FxjEsldVq1Wa9Co3lvcuaRi%2BI3gcoFoi3AckHg6B8AAf1cH0tKH4MXhYf57A%3D%3D&YM=202002&NAT_CD=112&ED_CD=E

## (실습. DataFrame 만들기 )

In [46]:
import urllib.request
res = urllib.request.urlopen(url)
json_str = res.read().decode("utf-8")
import json
json_object = json.loads(json_str) 
import pandas as pd
pd.json_normalize(json_object["response"]["body"]["items"])

   item.ed item.edCd  item.natCd item.natKorNm  item.num  item.rnum  item.ym
0  방한외래관광객         E         112          중  국    104086          1   202002

### (실습.. 출입국 데이터 만들기 ) 
1. 국가 3개 -> 112(중국), 130(일본), 275(미국)
2. 기간 -> 2019, 2020 년도
   - 년도별 01월 ~ 12월 
3. 국가별, 년월별 방문객수 구하기 
   - 72개..

In [48]:
# 4. 작업방법
#    - url을 받아서 item을 Return 해주는 함수 만들고 
#    - for 국가별
#    -    for 년도 
#    -       for 월 
#    -          url 조합 후 함수 실행 
#    -          return받은 데이터 -> DataFrame에 합치기

In [1]:
import requests 
def get_visit(url, params):
    req = requests.get(url, params)
    item = req.json()["response"]["body"]["items"]
    return item

In [2]:
end_point = "http://openapi.tour.go.kr/openapi/service/"
op_url = "EdrcntTourismStatsService/getEdrcntTourismStatsList?"
param_key = "&serviceKey=" + my_key 

country_code = ["112","130","275"]
visit_year = [2019,2020]

init = 0
for country in country_code:
    for year in visit_year:
        for month in range(1,13):
            params = {"YM": str(year) + "%02d"%month,  # "201901", "201902"
                      "NAT_CD":country,
                      "ED_CD":"E"}
            url = end_point + op_url + param_key
            print(url)
            result = get_visit(url, params)
            df = pd.json_normalize(result)
            if init == 0:
                df_total = df.copy() ; init = 1
            else:
                df_total = pd.concat([df_total, df])
df_total.head(3)

NameError: name 'my_key' is not defined