In [1]:
#https://docs.python.org/ko/3/library/functions.html
#https://www.w3schools.com/python/python_ref_functions.asp

In [2]:
mylist=[True,True,True]
all(mylist)

True

In [4]:
mylist=[1,0,1]
all(mylist) #()안에 iterable한 data가 와야함

False

In [5]:
mylist = "a" #문자열은 위치정보를 가지고 있음 =>iterable
all(mylist)

True

In [7]:
mylist=[False,True,False]
any(mylist) #하나라도 True면 True

True

In [8]:
a = "a"

In [9]:
len(a)

1

### enumerate

In [10]:
a = ["봄","여름","가을","겨울"]
a

['봄', '여름', '가을', '겨울']

In [11]:
a[0]

'봄'

In [13]:
#값과 인덱스를 같이알고싶을때
n = 0 
for i in a:
    print(n,"**",i)
    n+=1

0 ** 봄
1 ** 여름
2 ** 가을
3 ** 겨울

In [18]:
enumerate(a) #object로 data 넘겨줌 ->이때 data는 iterable 한 data 라고 생각하면됨

In [19]:
list(enumerate(a))

[(0, '봄'), (1, '여름'), (2, '가을'), (3, '겨울')]

In [20]:
list(enumerate(a))[0]

(0, '봄')

In [21]:
for i in enumerate(a):
    print(i)

(0, '봄')
(1, '여름')
(2, '가을')
(3, '겨울')

In [22]:
for i in enumerate(a):
    print(i[0],"**",i[1])

0 ** 봄
1 ** 여름
2 ** 가을
3 ** 겨울

In [23]:
for n,i in enumerate(a): #2개로 구성된 튜플형태기때문에 2개를 주면 알아서 각각 넘어감
    print(n,"**",i)

0 ** 봄
1 ** 여름
2 ** 가을
3 ** 겨울

In [24]:
a=(1,2); a

(1, 2)

In [25]:
a,b=(1,2)
print(a);print(b)

1
2

In [26]:
a = ["봄","여름","가을","겨울"]
for n,i in enumerate(a,10): #index를 10부터 주게 부여도 가능
    print(n,"**",i)

10 ** 봄
11 ** 여름
12 ** 가을
13 ** 겨울

### eval

In [27]:
print(55)

55

In [29]:
x="print(55)"
x

'print(55)'

In [30]:
eval(x) #x안의 값을 출력

55

In [31]:
x = 1; x

1

In [32]:
eval("x+1") #문자열을없애고 실행문(x+1)형태로 만들어줌 eval이

2

### Filter

In [34]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 20:
    return False
  else:
    return True

In [35]:
myFunc(40)

True

In [36]:
myFunc(10)

False

In [38]:
filter(myFunc, ages) #filter(function, iterable data) -> object 형태로 data 줌

In [39]:
adults = filter(myFunc, ages) #true에 해당하는 값만 돌려줌
for x in adults:
    print(x)

24
32

In [40]:
list(filter(myFunc, ages)) #list인 값을 특정조건에 해당하는 값만 뽑고싶을때 filter를 쓴다.(list는 > 같은걸사용할수없기때문)

[24, 32]

In [41]:
filter(lambda x:x>20, ages)
#filter에 들어가는 함수는 true, false로 나눌수있어야

In [42]:
list(filter(lambda x:x>20, ages)) #함수를 새로 안만들고 lambda로 사용도가능

[24, 32]

### filter() 실습
1. b = [2,18,9,22,17,24,8,12,27]
2. b에서 3의 배수를 추출하시오

In [43]:
b = [2,18,9,22,17,24,8,12,27]
list(filter(lambda x:x%3==0, b))

[18, 9, 24, 12, 27]

In [44]:
b = [2,18,9,22,17,24,8,12,27]
res = []
for i in b:
    if i%3==0:
        res.append(i)
res

[18, 9, 24, 12, 27]

In [45]:
[i for i in b if i%3 ==0]

[18, 9, 24, 12, 27]

1. 1~10으로 구성된 리스트 target
2. 짝수를 추출하기

In [46]:
target = list(range(1,11))

In [47]:
def is_even(n):
    if n%2==0:
        return True
    else:
        return False

In [49]:
def is_even(n):
    return True if n%2 ==0 else False

list(filter(is_even,target))

[2, 4, 6, 8, 10]

In [50]:
list(filter(lambda x:x%2==0, target)) #메모리에 함수 안올리고 원하는 값만 추출가능

[2, 4, 6, 8, 10]

### map

In [51]:
#map은 filter와 구성은 같다. map(function, iterable)
#차이는 map의 함수는 True,False가 아닌 데이터를 반환하는 함수여도 된다는것

In [55]:
def myfunc(a,b):
    return a+"-"+b

In [63]:
a = ('apple', 'banana', 'cherry')
b = ('orange', 'lemon', 'pineapple')
map(myfunc, a,b)

In [64]:
list(map(myfunc, a,b))

['apple-orange', 'banana-lemon', 'cherry-pineapple']

In [65]:
len(a)

3

In [66]:
len(a[0])

5

In [67]:
def aa(n):
    return len(n)

In [68]:
map(aa,a)

In [69]:
list(map(aa,a))

[5, 6, 6]

1. 1~10으로 구성된 리스트 target
2. 각각 3제곱을 구하세요

In [70]:
target = list(range(1,11))
list(map(lambda x:x**3,target))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [71]:
def func_a(n):
    return n**3

list(map(func_a,target))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [72]:
#dataframe, series 도 map이나 filter 쓸수있음

### zip

In [73]:
x=[1,2,3]
y=[4,5,6]

In [75]:
for i in range(0,len(x)):
    print(x[i],y[i])

1 4
2 5
3 6

In [76]:
zip(x,y)

In [77]:
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [81]:
zip(*zip(x,y)) #x,y zip만들었다가 다시 푸는작업할때

In [82]:
list(zip(*zip(x,y)))

[(1, 2, 3), (4, 5, 6)]

### lambda

In [83]:
def x(a):
    return a+10
x(5)

15

In [85]:
(lambda a:a+10)(5)

15

In [86]:
y = lambda a:a+10

In [87]:
y

In [88]:
y(5)

15

In [89]:
x = lambda a,b:a*b
x(5,6)

30

In [90]:
(lambda a,b:a*b)(5,6)

30

In [91]:
def myfunc(n):
    return lambda a:a*n

In [92]:
myfunc

In [94]:
myfunc(3)

In [95]:
res= myfunc(3) # 들어오는 변수에 3을 곱하는 함수가 됨

In [96]:
res(5)

15

### next

In [97]:
#next() 함수는 iterator에 적용됨. 즉 iterable한 data만 적용

In [101]:
mylist = iter([1,3,5,7]) #iter 함수는 객체로 돌려주는 함수
next(mylist)

1

In [102]:
next(mylist)

3

In [103]:
next(mylist)

5

In [104]:
next(mylist)

7

In [99]:
list(mylist)

[1, 3, 5, 7]

### reduce

In [107]:
#내장함수는 아님
import functools
#from functools import reduce

In [108]:
print(dir(functools))

['RLock', 'WRAPPER_ASSIGNMENTS', 'WRAPPER_UPDATES', '_CacheInfo', '_HashedSeq', '_NOT_FOUND', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_c3_merge', '_c3_mro', '_compose_mro', '_convert', '_find_impl', '_ge_from_gt', '_ge_from_le', '_ge_from_lt', '_gt_from_ge', '_gt_from_le', '_gt_from_lt', '_initial_missing', '_le_from_ge', '_le_from_gt', '_le_from_lt', '_lru_cache_wrapper', '_lt_from_ge', '_lt_from_gt', '_lt_from_le', '_make_key', '_unwrap_partial', 'cached_property', 'cmp_to_key', 'get_cache_token', 'lru_cache', 'namedtuple', 'partial', 'partialmethod', 'recursive_repr', 'reduce', 'singledispatch', 'singledispatchmethod', 'total_ordering', 'update_wrapper', 'wraps']

In [109]:
functools.reduce

In [110]:
from functools import reduce
#하면 reduce로 바로사용가능

In [113]:
num = list(range(0,5))
def my_add(a,b):
    result = a+b
    print(f"{a}+{b}={result}")
    return result
    
reduce(my_add,num)

0+1=1
1+2=3
3+3=6
6+4=10

10