### 실습 년도를 입력받아 윤년인지 판별하는 함수 (leap_year) 작성
1. 연도를 입력
2. 윤년이면"윤년",아니면 "평년"을 출력
3. 윤년은(2월 29일까지)
- 4로 나눠서 떨어지면 윤년
 + 100으로 나눠서 떨어지면 평년
 + 100으로 나눠서 떨어지지 않으면 윤년
- 4, 100, 400 으로 나눠서 떨어지면 윤년

In [15]:
x= int(input("연도를 입력하세요"))
if (x%4)==0:
    if(x%100)==0:
        if(x%400)==0:
            print(x,"는 윤년입니다.")
        else:
             print(x,"는 평년입니다.")
    else:
        print(x,"는 윤년입니다.")
        
else: print(x,"는 평년입니다.")

연도를 입력하세요2020
2020 는 윤년입니다.

In [17]:
year= int(input("연도를 입력하세요"))
if ((year%4==0)and (year%100!=0)) or (year%400==0):
    print(year,"는 윤년입니다.")
else:
    print(year,"는 평년입니다.")

연도를 입력하세요2001
2001 는 평년입니다.

In [20]:
def leap_year(year):

    if ((year%4==0)and (year%100!=0)) or (year%400==0):
        res="윤년"
    else:
        res="평년"
    return res

In [21]:
leap_year(2004)

'윤년'

In [25]:
year= int(input("연도를 입력하세요"))
result=leap_year(year)
print("연도 %s는 %s입니다."%(year,result))
#print("연도",year,"는",result,"입니다.")
#print("연도 {} 는 {}입니다.".format(year,result))

연도를 입력하세요2020
년도 2020는 윤년입니다.

In [27]:
years =[1980,2019,2020,2024]
list(map(leap_year,years))

['윤년', '평년', '윤년', '윤년']

In [28]:
result=[]
for i in years:
    result.append(leap_year(i))
result

['윤년', '평년', '윤년', '윤년']

In [35]:
list(map(lambda year:"윤년" if ((year%4==0) and (year%100!=0)) or (year%400==0) 
         else "평년",years))
#lambda if문의 경우 if일때 반환값을 앞에 쓰고 else 일때 반환값은 뒤에 쓰면 된다.

['윤년', '평년', '윤년', '윤년']

In [36]:
year= int(input("연도를 입력하세요"))
result=leap_year(year)
print("연도 %s는 %s입니다."%(year,result))

연도를 입력하세요2020
연도 2020는 윤년입니다.

### 반복입력후 판정
1. while 문
2. 년도가 0이면 종료

In [40]:
while True:
    year= int(input("연도를 입력하세요(0이면 종료됩니다.): "))
    if year ==0 : break
    result=leap_year(year)
    print("연도 %s는 %s입니다."%(year,result))

연도를 입력하세요(0이면 종료됩니다.): 2020
연도 2020는 윤년입니다.
연도를 입력하세요(0이면 종료됩니다.): 2010
연도 2010는 평년입니다.
연도를 입력하세요(0이면 종료됩니다.): 0

### 입력받은 년도와 결과를 저장하기

In [43]:
y=[]
while True:
    year= int(input("연도를 입력하세요(0이면 종료됩니다.): "))
    if year ==0 : break
    result=leap_year(year)
    print("연도 %s는 %s입니다."%(year,result))
    y.append([year,result]) #두가지 값을 한번에 넣기위해 리스트로 입력
print(y)

연도를 입력하세요(0이면 종료됩니다.): 2020
연도 2020는 윤년입니다.
연도를 입력하세요(0이면 종료됩니다.): 2010
연도 2010는 평년입니다.
연도를 입력하세요(0이면 종료됩니다.): 2000
연도 2000는 윤년입니다.
연도를 입력하세요(0이면 종료됩니다.): 0
[[2020, '윤년'], [2010, '평년'], [2000, '윤년']]

### 데이터 프레임으로 만들기

In [60]:
import pandas as pd
y=[]
while True:
    year= int(input("연도를 입력하세요(0이면 종료됩니다.): "))
    if year ==0 : break
    result=leap_year(year)
    print("연도 %s는 %s입니다."%(year,result))
    y.append([year,result]) #두가지 값을 한번에 넣기위해 리스트로 입력

pd.DataFrame(y,columns=["연도","판정"])

연도를 입력하세요(0이면 종료됩니다.): 2020
연도 2020는 윤년입니다.
연도를 입력하세요(0이면 종료됩니다.): 2010
연도 2010는 평년입니다.
연도를 입력하세요(0이면 종료됩니다.): 2000
연도 2000는 윤년입니다.
연도를 입력하세요(0이면 종료됩니다.): 2021
연도 2021는 평년입니다.
연도를 입력하세요(0이면 종료됩니다.): 0

     연도  판정
0  2020  윤년
1  2010  평년
2  2000  윤년
3  2021  평년

In [61]:
y_df01 = pd.DataFrame(y,columns=["연도","판정"])
#y_df01 = pd.DataFrame(y)
#y_df01.columns=["년도","판정"] 이렇게도 가능.
y_df01

     연도  판정
0  2020  윤년
1  2010  평년
2  2000  윤년
3  2021  평년

In [57]:
import pandas as pd
y1=[]
while True:
    year= int(input("연도를 입력하세요(0이면 종료됩니다.): "))
    if year ==0 : break
    result=leap_year(year)
    print("연도 %s는 %s입니다."%(year,result))
    y1.append([year,result])

연도를 입력하세요(0이면 종료됩니다.): 1992
연도 1992는 윤년입니다.
연도를 입력하세요(0이면 종료됩니다.): 1994
연도 1994는 평년입니다.
연도를 입력하세요(0이면 종료됩니다.): 1996
연도 1996는 윤년입니다.
연도를 입력하세요(0이면 종료됩니다.): 1990
연도 1990는 평년입니다.
연도를 입력하세요(0이면 종료됩니다.): 0

In [58]:
y_df02 = pd.DataFrame(y1,columns=["연도","판정"])
y_df02

     연도  판정
0  1992  윤년
1  1994  평년
2  1996  윤년
3  1990  평년

### 데이터프레임 합치기
1.y_df01과 y_df02를 합쳐서 y_df

2.pd.concat()

3.df.append()

In [71]:
y_df = pd.concat([y_df01,y_df02],ignore_index=True)
y_df

     연도  판정
0  2020  윤년
1  2010  평년
2  2000  윤년
3  2021  평년
4  1992  윤년
5  1994  평년
6  1996  윤년
7  1990  평년

In [72]:
y_df = y_df01.append(y_df02,ignore_index=True)
y_df

     연도  판정
0  2020  윤년
1  2010  평년
2  2000  윤년
3  2021  평년
4  1992  윤년
5  1994  평년
6  1996  윤년
7  1990  평년

### 데이터프레임을 csv로 저장하기
(y_df)

In [73]:
y_df.to_csv("y_df.csv")

### csv 파일 읽기

In [75]:
pd.read_csv("y_df.csv")

   Unnamed: 0    연도  판정
0           0  2020  윤년
1           1  2010  평년
2           2  2000  윤년
3           3  2021  평년
4           4  1992  윤년
5           5  1994  평년
6           6  1996  윤년
7           7  1990  평년

In [76]:
y_df.to_csv("y_df.csv", index=False) #index빼고 저장함
pd.read_csv("y_df.csv")

     연도  판정
0  2020  윤년
1  2010  평년
2  2000  윤년
3  2021  평년
4  1992  윤년
5  1994  평년
6  1996  윤년
7  1990  평년

In [81]:
y_df.to_csv("y_df.csv")
pd.read_csv("y_df.csv").drop("Unnamed: 0",axis=1) #column단위 데이터 처리: axis=1 cf)기본값 : 0 (row단위)

     연도  판정
0  2020  윤년
1  2010  평년
2  2000  윤년
3  2021  평년
4  1992  윤년
5  1994  평년
6  1996  윤년
7  1990  평년

### 다시 데이터프레임 만들기(dict)

In [88]:
y2={}
while True:
    year= int(input("연도를 입력하세요(0이면 종료됩니다.): "))
    if year ==0 : break
    result=leap_year(year)
    print("연도 %s는 %s입니다."%(year,result))
    y2[year] = result
    print("y2= ",y2)
y2

연도를 입력하세요(0이면 종료됩니다.): 2020
연도 2020는 윤년입니다.
y2=  {2020: '윤년'}
연도를 입력하세요(0이면 종료됩니다.): 2010
연도 2010는 평년입니다.
y2=  {2020: '윤년', 2010: '평년'}
연도를 입력하세요(0이면 종료됩니다.): 2000
연도 2000는 윤년입니다.
y2=  {2020: '윤년', 2010: '평년', 2000: '윤년'}
연도를 입력하세요(0이면 종료됩니다.): 1999
연도 1999는 평년입니다.
y2=  {2020: '윤년', 2010: '평년', 2000: '윤년', 1999: '평년'}
연도를 입력하세요(0이면 종료됩니다.): 0

{2020: '윤년', 2010: '평년', 2000: '윤년', 1999: '평년'}

In [89]:
pd.DataFrame(y2,index=[0])

  2020 2010 2000 1999
0   윤년   평년   윤년   평년

In [90]:
y3={}
while True:
    year= int(input("연도를 입력하세요(0이면 종료됩니다.): "))
    if year ==0 : break
    result=leap_year(year)
    print("연도 %s는 %s입니다."%(year,result))
    y3[result] = year #달라진부분 -> 윤년과 평년이 마지막꺼만 담기게 되버린다.
    print("y3= ",y3)
y3

연도를 입력하세요(0이면 종료됩니다.): 2000
연도 2000는 윤년입니다.
y3=  {'윤년': 2000}
연도를 입력하세요(0이면 종료됩니다.): 2020
연도 2020는 윤년입니다.
y3=  {'윤년': 2020}
연도를 입력하세요(0이면 종료됩니다.): 2001
연도 2001는 평년입니다.
y3=  {'윤년': 2020, '평년': 2001}
연도를 입력하세요(0이면 종료됩니다.): 2003
연도 2003는 평년입니다.
y3=  {'윤년': 2020, '평년': 2003}
연도를 입력하세요(0이면 종료됩니다.): 0

{'윤년': 2020, '평년': 2003}

In [86]:
y4={}
common=[]
leap = []
while True:
    year= int(input("연도를 입력하세요(0이면 종료됩니다.): "))
    if year ==0 : break
    result=leap_year(year)
    print("연도 %s는 %s입니다."%(year,result))
    if result == "평년":
        common.append(year)
    else:
        leap.append(year)
y4["평년"]=common
y4["윤년"]=leap
y4

연도를 입력하세요(0이면 종료됩니다.): 2020
연도 2020는 윤년입니다.
연도를 입력하세요(0이면 종료됩니다.): 2000
연도 2000는 윤년입니다.
연도를 입력하세요(0이면 종료됩니다.): 2001
연도 2001는 평년입니다.
연도를 입력하세요(0이면 종료됩니다.): 2003
연도 2003는 평년입니다.
연도를 입력하세요(0이면 종료됩니다.): 0

{'평년': [2001, 2003], '윤년': [2020, 2000]}

In [87]:
pd.DataFrame(y4)
#column 기준으로 dataframe 만들거면 dict, row기준으로 dataframe 만들거면 list사용

     평년    윤년
0  2001  2020
1  2003  2000