#fuction: 특별한 목적의 작업을 수행하도록 설계된 독립적 블록

def 함수명(매개변수1,매개변수2,...): (매개변수는 있어도 되고 없어도 됨)

    실행문
    
    return 변수(있어도 되고 없어도됨)

In [2]:
#매개변수 없는 함수
def hello():
    print("h")
    print("e")
    print("l")
    print("l")
    print("o")

hello

In [3]:
hello()

h
e
l
l
o

In [4]:
#매개변수 있는 함수
def sum(a,b): #파라미터
    c = a+b
    print(c)
    
sum

In [6]:
sum(1,5) #인자

6

In [9]:
x=1; y=5
sum(x,y)

6

In [10]:
res = sum(x,y)
print("res = ",res) #None이 뜨는이유는 return문 선언을 안해줬기때문(결과값 돌려주지 x)

6
res =  None

In [11]:
#return 값이 있는 함수
def fun(a,b):
    c=a*b
    print("c= ",c)
    return c

fun

In [13]:
x=3; y=4
res=fun(x,y) #리턴값 있기에 결과값 저장가능
print("res= ",res)

c=  12
res=  12

In [14]:
def fun1(a,b):
    return a+b

In [15]:
x=3; y=2
res=fun1(x,y)
print(res)

5

In [16]:
def fun2(a,b):
    return a+b, a*b, a-b

In [17]:
res= fun2(5,6)
res #튜플 형태임을 알 수 있다.

(11, 30, -1)

In [18]:
res[1] #튜플이기때문에 가능

30

In [25]:
x,y,z=fun2(5,6) #결과값 하나씩 mapping도 가능

In [26]:
x

11

In [27]:
y

30

In [28]:
z

-1

In [24]:
for i in res: #이렇게도 가능
    print(i)

11
30
-1

In [29]:
#입력값이 몇개인지 모를때
def sum_many(*args): # args가 아니라 이름다른걸로 해줘도 되지만 보통 args로 한다.(argument여러개)
    print("args= ",args)
    tot = 0
    for i in args:
        print("i= ",i)
        tot += i
    return tot

In [30]:
sum_many

In [31]:
sum_many(1,2,3,4) #데이터를 튜플형태로 인식함을 확인 -> 따라서 for문으로 데이터 더하기가 가능

args=  (1, 2, 3, 4)
i=  1
i=  2
i=  3
i=  4

10

In [32]:
tot = sum_many(1,2,3,4) #리턴값 저장
print("tot= ",tot)

args=  (1, 2, 3, 4)
i=  1
i=  2
i=  3
i=  4
tot=  10

In [33]:
# 변수명과 값을 함께 파라미터로 받아서 처리
def name(**kwargs):
    print("kw= ",kwargs)
    return

name

In [34]:
name(name="rim") #딕셔너리 형태로 데이터가 넘어감을 확인

kw=  {'name': 'rim'}

In [35]:
name(age="20",name="rim")

kw=  {'age': '20', 'name': 'rim'}

In [38]:
def name1(**kwargs):
    print("kw= ",kwargs)
    for i in kwargs.items():
        print(i)
    return

In [39]:
name1(age="20",name="rim")

kw=  {'age': '20', 'name': 'rim'}
('age', '20')
('name', 'rim')

In [40]:
def std_arg(arg):
    print("std_arg= ",arg)
def pos_only_arg(arg,/):
    print("pos_only_arg=",arg)
def kwd_only_arg(*,arg):
    print("kwd_only_arg=",arg)
def combined_example(pos_only,/,standard,*,kwd_only):
    print(pos_only,standard,kwd_only)

In [42]:
std_arg(2)

std_arg=  2

In [43]:
std_arg(arg=2)

std_arg=  2

In [44]:
std_arg(2,2) #1개만 받기때문에 에러

TypeError: std_arg() takes 1 positional argument but 2 were given

In [45]:
std_arg(aa=2) #에러

TypeError: std_arg() got an unexpected keyword argument 'aa'

In [46]:
pos_only_arg(1)

pos_only_arg= 1

In [47]:
pos_only_arg(arg=1) #키워드 argument 는 처리 x

TypeError: pos_only_arg() got some positional-only arguments passed as keyword arguments: 'arg'

In [48]:
kwd_only_arg(arg=3)

kwd_only_arg= 3

In [49]:
kwd_only_arg(3) #에러

TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given

In [50]:
combined_example(1,2,3) #2개만 가능, 에러

TypeError: combined_example() takes 2 positional arguments but 3 were given

In [51]:
combined_example(1,2,kwd_only=3) #pos_only,/  하나 standard 하나 * kwd_only 하나로 구성

1 2 3